body {
    font-family: sans-serif;
    margin: 0;
}
/* Header */
.header {
    height: 10vh;
    position: relative;
    border-bottom: 2px solid black;
}
.header > .row {
    display: flex;
    justify-content: space-between;
}
.logo > img {
    max-width: 80px;
    max-height: 80px;
}
#nav-trigger {
    padding: 14px 16px;
    margin: 5px;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    font-size: 24px;
} 
#nav-trigger:hover {
    background: #9BFAFC;
    color: white;
}

/* Main content */
.hero {
    /* Sizing */
    width: 100vw;
    height: 90vh;
    /* Flexbox stuff */
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    /* Text Styles */
    text-align: center;
    /* Background styles */
    background-size: contain;
    background-position: center center;
}
@keyframes enter {
    from {display: flex;}
    to {display: none;}
}
.goodbye {
    animation-name: enter;
    animation-duration: 4s;
    display: none;
}
.op-tile {
    opacity: 0;
}
@keyframes fade {
    from {opacity: 0;}
    to {opacity: 1;}
}
.op-tile:hover {
    animation-name: fade;
    animation-duration: .75s;
    opacity: 1;
}
.op-tile.closed {
	max-height: 0;
}

/* Open Navbar */
.tiles {
    /* display: flex; */
    /* border: 2px solid pink; */
    width: 100vw;
    height: 90vh;
}
.tiles > .row {
    display: flex;
    flex-flow: column wrap;
    align-content: space-around;
    /* border: 2px solid green; */
    width: 100vw;
    height: 90vh;
}
#col1 {
    /* border: 2px solid black; */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
#col2 {
    /* border: 2px solid green; */
    background: lightyellow;
}
#col3 {
    /* border: 2px solid blue; */
    background: lightcoral;
}
.tile {
    /* border: 2px solid black; */
    background: lightblue;
    display: flex;
    flex-flow: column;
    text-align: center;
    justify-content: center;
}
.op-tile {
    opacity: 0;
}
@keyframes fade {
    from {opacity: 0;}
    to {opacity: 1;}
}
.op-tile:hover {
    animation-name: fade;
    animation-duration: .75s;
    opacity: 1;
}
#col1Hover {
    color: green;
}
.tile {
    position: relative;
    overflow: hidden;
}
.tile > h1 {
    padding: 200px;
    position: relative;
    z-index: 2;
}
.tile > img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
}
.noop {
    opacity:
}

/* Footer */