body {
    font-family: sans-serif;
    margin: 0;
}
/* Header */
.header {
    height: 10vh;
    position: relative;
    border-bottom: 2px solid black;
}
.header > .row {
    display: flex;
    justify-content: space-between;
}
.logo > img {
    max-width: 80px;
    max-height: 80px;
}
#nav-trigger {
    padding: 14px 16px;
    margin: 5px;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    font-size: 24px;
} 
#nav-trigger:hover {
    background: #9BFAFC;
    color: white;
}

/* Main content */
.hero {
    /* Sizing */
    width: 100vw;
    height: 90vh;
    /* Flexbox stuff */
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    /* Text Styles */
    text-align: center;
    /* Background styles */
    background-size: contain;
    background-position: center center;
    animation-name: fade;
    animation-duration: 1s;
}
.goodbye {
    display: none;
}
.op-tile {
    opacity: 0;
}
@keyframes fade {
    from {opacity: 0;}
    to {opacity: 1;}
}
.op-tile:hover {
    animation-name: fade;
    animation-duration: .75s;
    opacity: 1;
}
.sm-icons {
    /* max-width: 4em; */
    /* border: 2px solid gray; */
    height: 30%;
}
/* Open Navbar */
.tiles {
    /* display: flex; */
    /* border: 2px solid pink; */
    width: 100vw;
    height: 90vh;
    animation-name: fade;
    animation-duration: 1s;
}
.tiles > .row {
    display: flex;
    flex-flow: column wrap;
    align-content: space-around;
    /* border: 2px solid green; */
    width: 100vw;
    height: 90vh;
}
@keyframes fade {
    from {opacity: 0;}
    to {opacity: 1;}
} 
.tile {
    overflow: hidden;
    /* border: 2px solid black; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.tile > h1 {
    padding: 200px;
    position: relative;
    z-index: 2;
}
.tile > .op-img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
}
@media screen and (max-width: 575px) {
    .tiles {
        border: 2px solid black;
    }
    .tile {
        height: 4.5em;
        /* border: 2px solid green; */
    }
    .sm-icons {
        /* margin-left: 10em; */
    }

    #nav-trigger {
        margin-top: -75px;
    }
    .center-square {
        height: 25px;
    }
}